
$text-color: white;
$primary-color: #bd1aa4;
$secondary-color: black;
$border-r: 5px;
$font: 'Cormorant Garamond', serif;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
